Package: com.XtremD.SiriSwitch
Name: SiriSwitch
Section: Tweaks
Description: A easy to use settings pane for configuring Siri's proxy settings
Version: 1.0
Pre-Depends: firmware (>= 5.0), firmware (<< 5.1)
Depends: mobilesubstrate, preferenceloader
Architecture: iphoneos-arm
Author: XtremD <XtremD@me.com>
Maintainer: XtremD <XtremD@me.com>
Tag: purpose::extension
dev: XtremD
